._jsPlumb_connector { z-index:1; }
._jsPlumb_endpoint { z-index:2; }
._jsPlumb_overlay { z-index:3; }

body {
    font-size: 100%;
    padding-bottom: 50px;
}
    
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
/*     width: 100%; */
    padding-top: 0.125em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    /* The following properties prevent jsPlumb from drawing over the header while scrolling */ 
    background: white;
    z-index: 10000;
}

.hidden-while-loading {
	display: none;
}

.toolbar {
	float: right;
    font-size: 1.125em;
}

.days-of-week {
    clear: both;
    float: left;
    padding-top: 0.5em;
}

.content {
    clear: both;
}

.title {
    font: Monaco;
    font-size: 1.25em;
    color: blue;
    padding: 0.25em;
}

.titleDiv {
    padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.full-width-table {
	width: 100%;
}

.logo {
    font: Monaco;
    font-size: 1.2em;
    font-style: italic;
    float: right;
    color: blue;
    padding: 0.25em;
    padding-right: 0.5em;
}
.ui-button-text {
    padding: 0.25em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.btlabel_workday.ui-state-default {
    color: #0404B4;
}

.btlabel_workday.ui-state-active {
	color: #EB8F00;
}

.btlabel_workday.ui-state-hover {
	color: #C77405;
}

.btlabel_weekend.ui-state-default {
    color: #8A0808;
}

.btlabel_weekend.ui-state-active {
	color: #EB8F00;
}

.btlabel_weekend.ui-state-hover {
	color: #C77405;
}

.generic-job {
    /* background-color:white; */
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;        
    color:black;
    padding:0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.box {
    border: 2px solid blue;
    margin: 10px;
    padding: 2px;
    margin-top: 30px;
    border-radius: 5px;
    background: #ECF1F4;
    z-index: 50;
    cursor: pointer;
}

.job {
    border: 2px solid chocolate;
    margin: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    display:inline-block;
    border-radius: 5px;
    background: rgb(255, 255, 128);
    background: rgba(255, 255, 128, 0.8);
    z-index: 51;
    position: relative;
    cursor: pointer;
}

.job:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    background: rgb(255, 255, 128);
    background: rgba(255, 255, 128, 0.9);
}

.selected-job {
    color: #0040FF;
}

.inbound-job {
    color: #3BA617;
}

.outbound-job {
    color: #FF0000;
}

.inactive-job {
    border: 2px solid #A4A4A4;
    background: rgb(197, 197, 197);
    background: rgba(197, 197, 197, 0.8);
}

.inactive-job:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    background: rgb(205, 205, 205);
    background: rgba(205, 205, 205, 0.9);
}

.inactive-box {
    border: 2px solid #A4A4A4;
    background: rgb(197, 197, 197);
    background: rgba(197, 197, 197, 0.8);
}

.no-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.job-props {
    font-size: 0.625em;
}

.job-props-tooltip {
    font-size: 0.625em;
    padding: 0.5em;
    background: rgb(245, 246, 206);
    background: rgba(245, 246, 206, 0.9);
    max-width: 400px;
}

/*._jsPlumb_endpoint { cursor:pointer; }*/

.error {
    color: red;
}

path { cursor:pointer; }