._jsPlumb_connector { z-index:1; }
._jsPlumb_endpoint { z-index:2; }
._jsPlumb_overlay { z-index:3; }

body {
    font-size: 100%;
}
    
#topBar {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 8px;
    width: 100%;
    z-index: 200;
}

#content {
    padding-top: 57px;
}

.title {
    font: Monaco;
    font-size: 1.25em;
    color: blue;
    padding-bottom: 0.125em;
}

.ui-button-text {
    padding: 0.25em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.btlabel_workday {
    color: #0404B4 !important;
}

.btlabel_weekend {
    color: #8A0808 !important;
}

.generic-job {
    /* background-color:white; */
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;        
    color:black;
    padding:0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.box {
    border: 2px solid blue;
    margin: 10px;
    padding: 2px;
    margin-top: 30px;
    border-radius: 5px;
    background: #ECF1F4;
    z-index: 50;
    cursor: pointer;
}

.job {
    border: 2px solid chocolate;
    margin: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    display:inline-block;
    border-radius: 5px;
    background: rgb(255, 255, 128);
    background: rgba(255, 255, 128, 0.8);
    z-index: 51;
    position: relative;
    cursor: pointer;
}

.job:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    background: rgb(255, 255, 128);
    background: rgba(255, 255, 128, 0.9);
}

.selected-job {
    color: #DF013A;
}

.inactive-job {
    border: 2px solid #A4A4A4;
    background: rgb(197, 197, 197);
    background: rgba(197, 197, 197, 0.8);
}

.inactive-job:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    background: rgb(205, 205, 205);
    background: rgba(205, 205, 205, 0.9);
}

.inactive-box {
    border: 2px solid #A4A4A4;
    background: rgb(197, 197, 197);
    background: rgba(197, 197, 197, 0.8);
}

.no-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.job-props {
    font-size: 0.625em;
}

.job-props-tooltip {
    font-size: 0.625em;
    padding: 0.5em;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
}

/*._jsPlumb_endpoint { cursor:pointer; }*/

.error {
    color: red;
}

path { cursor:pointer; }