._jsPlumb_connector { z-index:1; }
._jsPlumb_endpoint { z-index:2; }
._jsPlumb_overlay { z-index:3; }

.title {
    font: Monaco;
    font-size: 2em;
    color: blue;
}

.generic-job {
    /* background-color:white; */
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;        
    color:black;
    padding:0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.box {
    border: 2px solid blue;
    margin: 10px;
    padding: 2px;
    margin-top: 30px;
    border-radius: 5px;
    background: #ECF1F4;
    z-index: 50;
    cursor: pointer;
}

.job {
    border: 2px solid chocolate;
    margin: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    display:inline-block;
    border-radius: 5px;
    background: rgb(255, 255, 128);
    background: rgba(255, 255, 128, 0.8);
    z-index: 51;
    position: relative;
    cursor: pointer;
}

.selected-job {
    color: #DF013A;
}

.inactive-job {
    background: #E6E6E6;
    border: 2px solid #A4A4A4;
}

.job:hover {
    border:2px solid chocolate;
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    background: rgb(255, 255, 128);
    background: rgba(255, 255, 128, 0.9);
}

.no-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

/*._jsPlumb_endpoint { cursor:pointer; }*/

.error {
    color: red;
}

path { cursor:pointer; }